//公共样式
@import "../public/var.scss";
//编写样式请加前缀 #{$fnt}
//$fnt:udm;

//登录框架
.#{$fnt}-dly-plik-b01{margin:pxTorem(10) pxTorem(74);

  .pli-k{margin-bottom: pxTorem(20);}

}

//注册框架
.#{$fnt}-dlyzc-plik-b01{margin:pxTorem(30) pxTorem(20) pxTorem(10) pxTorem(20);

  .pli-k{margin-bottom: pxTorem(10);}

}