//公共变量模块
@import "../public/var.scss";
//编写样式请加前缀 #{$fnt}
//$fnt:udm;


.#{$fnt}-p-much{
    margin: pxTorem(20) 0;
    padding: pxTorem(20);
    background:$white;
    text-align: center;
   .link{
       font-size: pxTorem(24);
        color: nth($gray,3) !important; 
    }
   .i-more{
         display: inline-block;
        width: pxTorem(29);
        height: pxTorem(18);
        background: url(../../images/icon/p-e-1.jpg) no-repeat;
        background-size:pxTorem(29) pxTorem(18) ;  
   }
}



