@import "../public/var.scss";
/*关于模块*/
.pass-box{
  width: 100%;
  height: 46rem;
  background-color: rgba(109, 106, 106, 0.73);
  position: relative;
  z-index: 1;
}
.pass-in{
  width: 60%;
  height: 14rem;
  left: 20%;
  border: .05rem solid #ccc;
  border-radius: .4rem;
  background-color: #fff;
  position: absolute;
  top: 12rem;
  color: #414141;
  z-index: 22;
}
.pass-a{
  height: 2.4rem;
    width: 100%;
    border-bottom: .05rem solid #efefef;
    line-height: 2.4rem;
}
.pass-ino{
  display: block;
  float: left;
  width: 6%;
  margin-left: .8rem;
  margin-top: .2rem;
  margin-right: .4rem;
  height: 1.6rem;
  font-size: .76rem;
}
.pass-ino img{
  width: 100%;
  height: auto;
}
.pass-txt{
  display: block;
  float: left;
  margin-left: 2.5rem;
}
.inf1{
  width: 8%;
  margin-top: .3rem;
}
.inf1 img{
  width: 100%;
  height: auto;
}
.pass-b{
  height: 4rem;
  width: 100%;
  border-bottom: .05rem solid #efefef;
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  color: #000;
}
.pass-c{
   height: 2.4rem;
    width: 100%;
    border-bottom: .05rem solid #efefef;
    line-height: 2.4rem;
    color: #878a87;
}
.pass-d{
  height: 4rem;
  width: 100%;
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  color: #000;
}
.sr_list{
  width: 80%;
  height: 2rem;
  margin: 0 auto;
  border: .05rem solid #d5d5d5;
  z-index: 33;
  margin-top: 1.4rem;

}
.sr_list li{
  float: left;
  width: 16.2%;
  height: 2rem;
  border-right: .05rem solid #ebebeb;

}
.pass-num{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background: #fff;
}
.jp_list{
  width: 100%;
  height: 3rem;
  border-bottom: .05rem solid #e5e7e9;

}
.jp_list li{
  float: left;
  width: 33%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
  border-right: .05rem solid #e5e7e9;
}
.del-img{
   display: block;
    width: 20%;
    height: 1.6rem;
    margin-left: 40%;
}
.del-img img{
  width: 100%;
  height: auto;
}
.jp-ba{
  background: #d5d8db;
}
/*关于模块--end--*/
